/*=================================
=            Variables            =
=================================*/

/*==========  Media queries  ==========*/
$mq-mobile-portrait: 320px;
$mq-mobile-landscape: 480px;
$mq-tablet-portrait: 768px;
$mq-tablet-landscape: 1024px;
$mq-desktop: 1382px;
