/*============================
=            Base            =
============================*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Lato";
}

p {
    font-size: rem(17px);
    font-weight: 300;
    color: #555;
}

img {
    max-width: 100%;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: underline;
    }
}
